
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			{% for babysitter in babysitters %}
				<div class="col s12 m4 l3">
					<div class="babysitter-card">
						<img src="{{ asset('uploads/' ~ babysitter.picture) }}" class="responsive-img">
						
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}