<form method="post" action="{{ path('app_babysitter_delete', {'id': babysitter.id}) }}" onsubmit="return confirm('Vous êtes sur cous vouler effacer l\'objet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ babysitter.id) }}">
    <button class="btn">Effacer</button>
</form>
