{% extends 'base.html.twig' %}

{% block title %}Nouveau Babysitter{% endblock %}

{% block body %}
<div class="container">
    <h3>Ajouter un nouveau Babysitter</h3>

    {{ include('babysitter/_form.html.twig') }}
   
    <a href="{{ path('app_babysitter_index') }}">Retour à la liste</a>
</div>
{% endblock %}
