{% extends 'base.html.twig' %}

{% block title %}Modifier Language{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h4>Modifier une Langue</h4>
        </div>
    </div>

    {{ include('language/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}

    <a href="{{ path('app_language_index') }}">Retour à la liste</a>

    {{ include('language/_delete_form.html.twig') }}
{% endblock %}
