{% extends 'base.html.twig' %}

{% block title %}Nouvelle Langue{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s6 m6 l6">
            <h4>Ajouter une nouvelle Langue</h4>
        </div>
    </div>

    {{ include('language/_form.html.twig') }}

    <a href="{{ path('app_language_index') }}">Retour à la liste</a>
{% endblock %}
